<h3>Sign In</h3>

<form action="/admin" method="post">

    <label for="username"> <b>Username</b> </label>
    <input type="text" name="username" placeholder="Enter Your Username">

    <label for="password"> <b>Password</b> </label>
    <input type="password" name="password" placeholder="Enter Your Password">

    <input type="submit" class="btn" value="Login">


</form>

<!-- <h3>Register</h3>

<form action="/register" method="post">

    <label for="username"> <b>Username</b> </label>
    <input type="text" name="username" placeholder="Enter Your Username">

    <label for="password"> <b>Password</b> </label>
    <input type="password" name="password" placeholder="Enter Your Password">

    <input type="submit" class="btn" value="Register">


</form> -->

