<header class="header">
    <a href="/" class="header_logo">
      ADMIN Panel
    </a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/Contact">Contact</a>
            </li>
        </ul>
    </nav>
    
  <div class="header__button">
    <a href="/logout">
      Log Out
    </a>
  </div>
  
</header>



