<div class="author">
        <h1 class="author_heading">
            Hi,I Am RDS.
        </h1>
        <div class="author_body">
            Web Devloper And Content Creator.
        </div>                                                          
</div>

<img src="/img/Main_Blog_img.jpg" alt="This is img is the Main Blog Img" class="hero_img" width="981px" height="528px" />

<section class="articles">
    <h2 class="articles_heading">
        Blog Post
    </h2>
        <ul class="articles_ul">

            <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id  %>">
                    <span> <%= post.title  %></span>
                    <span class="article_list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
            <% }) %>

        </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Post</a>
    <% } %>
</section>